@font-face {
  font-family: centuryGothic;
  src: url(./fonts/CenturyGothic.otf) format('otf'),
  url(./fonts/CenturyGothic.ttf) format('ttf') ;
}
body{
  font-family: 'centuryGothic',sans-serif!important;
  /* font-family: 'Poppins', sans-serif; */
}
.topbar{
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'centuryGothic',sans-serif!important;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.menubar,h1,h2,h3,h4,h5,h6{
  font-family: 'Gothic A1', sans-serif!important;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.primary-color{
  color: #20356D;
}
.secondary-color{
  color: #F47025;
}
.highligh-primary{
    color:white ;
    background-color:#20356D ;
}
.highligh-secondary{
    background-color:#F37124 !important;
    color: white !important;;
}
.secondary-light-background{
  background-color: #FEF1E9;
}
a{
  text-decoration: none!important;
}

.search-section{
  background: url('../img/home/Abstract Background.png');
  /* height: 250px; */
  background-size:cover;
}
.search-button{
  padding: 5px 50px!important;
  border: 2px solid white!important;
}
.common-button{
  border: 2px solid #20356D;
  color: #20356D;
  font-weight: 600;
}
.border-left{
  border-left: 2px solid white;
}
.ielts-section{
  background: url('../img/home/Wave.png');
  background-size:cover;
}
.fees-section{
  background: url('../img/home/Wave.png');
  background-color: #20356D;
  background-size:cover;
}
.fees-card{
  background-color: #939ED0!important;
  border-radius: 25px!important;
  box-shadow: 0px 4px 4px 0px rgba(223, 197, 197, 0.25), 1px 3px 10px 1px rgba(0, 0, 0, 0.10) inset;
}
.feedback-card{
  background: url('../img/home/Union.png');
  background-size:contain, cover;
  background-repeat: no-repeat;
}
.footer-button{
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
}
.footer-menubar{
  background: url('../img/img_footer.png');
  background-color: #20356D;
  background-size:cover;
}